
<div>
  <a></a>
  <div class="card-header">
    Markalar
  </div>
  <div *ngIf = "dataLoaded ==false" class="text-center">
    <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
  </button>
  </div>
    <a (click) = "setCurrentBrand(brand)" *ngFor="let brand of brands" routerLink="/cars/brand/{{brand.id}}" [ngClass] = "getCurrentBrandClass(brand)">
    {{brand.brandName}}
  </a>
  
</div>
<h5 *ngIf="currentBrand != null"  class="text-center">{{currentBrand.brandName}} Seçtiniz </h5>
