

<ul class="list-group">
  <a></a>
  <div class="card-header">
    Renkler
  </div>
  <div *ngIf = "dataLoaded ==false" class="text-center">
    <button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
  </button>
  </div>
    <a
    
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{color.id}}"
    *ngFor="let color of colors" [ngClass]="getCurrentColorClass(color)"
    >
      {{color.colorName}}
</a>
  </ul>
  <h5 *ngIf="currentColor != null" class="text-center">
    {{ currentColor.colorName}} seçtiniz.
  </h5>