
<div>
    <h5 class="list-group item text-center">Arabalar</h5>
    <div class="list-group item">
        <div class="row">  
            <div class="card" style="width: 18rem;" *ngFor = "let carDto of carsDtos">
                <img src="https://iasbh.tmgrup.com.tr/73e48e/752/395/0/0/800/419?u=https://isbh.tmgrup.com.tr/sbh/2020/01/11/ruyada-araba-surmek-ne-anlama-gelir-ruyada-araba-surmek-ile-ilgili-yorum-1578690608054.jpg" class="card-img-top" alt="..."> 
               <div class="card-body list-group">
                 <h6 class="list-group item text-center">{{carDto.brandName}}</h6>
                 <h6 class="list-group item text-center">{{carDto.colorName}}</h6>
                 <h6 class="list-group item text-center">{{carDto.modelYear}}</h6>
                 <h6 class="list-group item text-center">{{carDto.dailyPrice}}£ /günlük</h6>
                 <!-- <button>Uygun</button> -->
                 <a routerLink="/cars/cardetailspage/{{carDto.carId}}" class="btn btn-primary">Detaylar</a>
               </div>
               <a></a>
             </div>    
        </div>
        
    </div>
      
</div>

