<table *ngIf = "dataLoaded == true" class="table">
    <thead>
        <tr> 
            <th>Id</th>
            <th>CarId</th>
            <th>Imagename</th>
            <th>AddDate</th>
            <th>yol</th>
        </tr>
    </thead>
        <tr *ngFor = "let carImage of carsImage">
            <td>{{carImage.id}}</td>
            <td>{{carImage.carId}}</td>
            <td>{{carImage.imageName}}</td>
            <td>{{carImage.addDate}}</td>
            <td>{{carImage.imagePath}}</td>
            <img src="https://localhost:44358/api/carimage/getbyid?id={{carImage.id}}" alt="">
            
    </table>
